<app-toolbar></app-toolbar>
<app-slider></app-slider>
<h2 style="text-align: center">About Us</h2>
<p style="text-align: center; margin: 0 5% 0 5%">
    4Impact is India's first fintech platform for connecting NGOs seeking funds to corporates deploying funds as per CSR regulations.
    We also provide expertise and services to NGOs for helping them achieve their fundraising goals and to corporates for
    complying with the CSR mandate. Our unique value proposition is that we use technology (Artificial Intelligence and Machine
    Learning Algorithms) for coming up with our recommendations.
</p>
<br>
<mat-divider></mat-divider>

<h2 style="text-align: center">Corporates</h2>
<p style="text-align: center; margin: 0 5% 0 5%">
    Using Machine Learning algorithms, this platform analyses publicly available information about your company,it's CSR policy
    and CSR expenditure pattern over the years to recommend the most appropriate CSR projects from verified NGOs for deployment
    of funds as per Section 135 of the Companies Act.
</p>

<br>
<mat-divider></mat-divider>

<h2 style="text-align: center">NGO</h2>
<p style="text-align: center; margin: 0 5% 0 5%">
    We make your challenge of fundraising from a corporate's 2% CSR mandate quite swifter with our expertise in the domain coupled
    with latest technology. If your NGO is planning on fundraise from a corporate body, please submit following information
    and our team shall respond within 2-4 working days regarding next steps and way forward.
</p>

<br>
<br>