<mat-card class="center">
    <mat-card-header>
        <mat-card-title>Pipeline</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="7" rowHeight="10:2">
            <mat-grid-tile><b>Lead Recd</b></mat-grid-tile>
            <mat-grid-tile><b>Email Sent</b></mat-grid-tile>
            <mat-grid-tile><b>Revert</b></mat-grid-tile>
            <mat-grid-tile><b>Telephone</b></mat-grid-tile>
            <mat-grid-tile><b>Proposal Sent</b></mat-grid-tile>
            <mat-grid-tile><b>Meeting</b></mat-grid-tile>
            <mat-grid-tile><b>Fund Commitment</b></mat-grid-tile>

            <mat-grid-tile class="normal">Company1</mat-grid-tile>
            <mat-grid-tile class="normal">Company4</mat-grid-tile>
            <mat-grid-tile class="normal">Company3</mat-grid-tile>
            <mat-grid-tile class="normal">Company2</mat-grid-tile>
            <mat-grid-tile class="normal">Company6</mat-grid-tile>
            <mat-grid-tile class="normal"></mat-grid-tile>
            
            <mat-grid-tile class="normal">Company5</mat-grid-tile>
            <mat-grid-tile class="normal">Company10</mat-grid-tile>

        </mat-grid-list>
    </mat-card-content>
</mat-card>